

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=500px, initial-scale=2, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>❤️ 翻译软件集合❤️</title>
</head>

<body>  
    <div class="container">
            <header>
                <div class="card" align="center" >
                <h1>🚀 翻译软件集合 🚁</h1>
                </div>
            </header>

            <!-- Proxy tools -->
        <form method="POST" name = "form1">

            <div class="card" align="center" >
                        <h2>🤡 输入中文 </h2> 
                        
                        <textarea  name = "trans" cols="150" rows="5" placeholder="中文" >{{ ori  }}</textarea> 
                        <br><br>
                        <input  type="submit" class="card"  name= 'submit' value = "🔥 点击翻译 🍩""/>     
                        <input  type="submit" class="card"  name= 'submit' value = "🔥 点击翻译定义 🍩""/>    
                                                                                                
            </div>
            
            <div class="card"align="center" >
                <h2>🤡 谷歌翻译结果</h2>
                <textarea  name = "left" cols="150" rows="10"  placeholder="填写订阅地址" >{{ to1  }}</textarea>     
                <h2>🤡 百度翻译结果</h2>
                <textarea  name = "left" cols="150" rows="10"  placeholder="填写订阅地址" >{{ to2  }}</textarea>    
                <h2>🤡 有道翻译结果</h2>
                <textarea  name = "left" cols="150" rows="10"  placeholder="填写订阅地址" >{{ to3  }}</textarea>                       
            </div>
            

                           
        </form>          
    </div>
</body>
</html>